/* Variables */

:root{
    
    --colorFondo: beige;
    --colorClaro: lightsalmon;
    --colorEnfasis: rgb(3, 126, 120);
    --tipografia: 'Arial Narrow', Arial, sans-serif;

}

/* Condiciones inciales */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

body{
    background-color: var(--colorFondo);
    font-family: var(--tipografia);
    font-size: 25px;
    overflow-x: hidden;
}

/* HEADER */

header{
    width: 100vw;
    height: auto;
}

.titulo{
    height: 150px;
    width: 100%;
    background-color: var(--colorEnfasis);
    display: grid;
    place-content: center;
    color: var(--colorFondo);
    transition: all 500ms ease-in-out;
}

.titulo:active{
    background-color: brown;
    color: chartreuse;
    transform: scale(1.2);
}

.contenedorSlider{
    border: 5px solid var(--colorEnfasis);
    width: 75%;
    height: 65vh;
    margin: 100px auto;
    overflow-x: hidden;
}

.slider{
    width: 100%;
    height: 100%;
    display: flex;

    /* Nombre que se conecta con el keyframe */
    animation-name: slide;
    /* animation-name: rotate; */
    /* animation-name: scale; */

    /* Tiempo de duracion */
    animation-duration: 10s;

    /* Cuantas veces se repite la animacion */
    animation-iteration-count: infinite;

    /* Forma en que se llama el movimiento */
    animation-timing-function: ease-in-out;

    /* Direccion de mi animacion */
    animation-direction: alternate;
}

@keyframes slide {
    from{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(-75%);
    }
    50%{
        transform: translateX(-150%);
    }
    75%{
        transform: translateX(-225%);
    }
    to{
        transform: translateX(-300%);
    }    
}

/* @keyframes rotate {
    from{
        transform: rotate(0%);
    }
    to{
        transform: rotate(360deg);
    }
} */

/* @keyframes scale {
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1.5);
    }
} */

.contenedorSlider img{
    width: 100%;
    height: 100%;
}

/* MAIN */

main{
    display: flex;
    justify-content: center;
}

.contenido{
    border: 5px solid var(--colorEnfasis);
    width: 75%;
    height: auto;
    margin-bottom: 100px;
}

.tituloSecundario{
    text-align: center;
    padding: 25px;
}

.imgParrafo{
    display: flex;
    gap: 45px;
    padding: 15px;
    align-items: center;
}

.imgParrafo img{
    width: 50%;
}

.imgParrafo p{
    width: 50%;
}

/* FOOTER */

footer{
    height: 150px;
    width: 100%;
    background-color: var(--colorEnfasis);
    display: grid;
    place-content: center;
    color: var(--colorFondo);
}

/* DISEÑO RESPONSIVE */

/* 
    1) Trabajar en % (medidas no fijas) de una vez
    2) Media Queries
*/



/* MEDIA QUERIES */
/* 
    Permiten cambiar la apariencia de mis elementos en función de el tamaño de mi pantalla

    Dimensión min PC = 1200px en adelante
    Dimensión para tablet = 500px -> 1024px
    Dimensiones de celular = 320 -> 490px

*/

/* Estilos para mi celular */


/* Estilos nuevos según los px que yo defina */


@media screen and (max-width:490px) {

    .titulo{
        font-size: 20px;
        text-align: center;
    }

    .imgParrafo{
        display: flex;
        flex-direction: column;
    }

    .imgParrafo img{
        width: 100%;
    }

    .imgParrafo p{
        width: 100%;
    }

}